@model CountryEntityCollection

<div class="row">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <a href="@Url.Action("Create", "Countries", new { area = "" })" class="btn btn-small btn-success btn-round" 
                   style="float: right; margin-right: 10px; margin-top: -3px; padding-top: 6px; ">Add new</a>

                <h2><i class="icon icon-red icon-tag"></i>Countries</h2>
                <p style="float: right; margin: 5px 20px 0px 0px;">Count - <a>@Model.AllCount</a> </p>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 100px; text-align: center;">Create date</th>
                            <th style="width: 20%; text-align: center;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Countries)
                        {
                            <tr>
                                <td style="vertical-align: middle;">
                                    @*<a href="@Url.Action("View", "Countries", new { id = item.Id, area = "" })">@item.Name</a>*@
                                    @item.Name
                                </td>
                                <td style="width: 100px; text-align: center; vertical-align: middle;">
                                    @item.CreateDate.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)
                                </td>
                                <td class="center" style="width: 20%; text-align: center; vertical-align: middle;">
                                    @*<a class="btn btn-danger" onclick="confirmDelete(@item.Id)" style="">
                                        <i class="icon-trash icon-white"></i>
                                        Delete
                                    </a>*@
                                    <a class="btn btn-info btn-xs" href="@Url.Action("Edit", "Countries", new { id = item.Id })">
                                        <i class="icon-edit icon-white"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <ul class="pagination pagination-centered">
                    @{
                        var pageModel = new PagingModel
                        {
                            Action = "List",
                            Area = "",
                            Controller = "Countries",
                            NumberOfPages = (int)ViewBag.NumberOfPages,
                            CurrentPage = (int)ViewBag.PageNumber
                        };
                    }

                    @Html.Partial("~/Views/Shared/_PagingViewPartial.cshtml", pageModel)
                </ul>

            </div>
        </div>
    </div>
</div>



